{% extends "base.html" %}
{% block title %}Project Polygon{% endblock %}

{% block header %}
<div class="header">
    <h1 id="poly">project <b>polygon</b> </h1><img src="/images/7-simplex.svg" alt="7-simplex logo" style="vertical-align:middle;padding-left:5px" class="hidden-xs"/>
</div>
{% endblock %}

{% block nav %}
<li class="active"><a href="/">Home</a></li>
<li class="dropdown">
    <a href="/subjects" class="dropdown-toggle" data-toggle="dropdown">Subjects <b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% for href, fa, caption in nav_dropdown %}
          <li><a href="{{ href|e }}"><i class="fa {{ fa|e }} fa-fw"></i>{{ caption|e }}</a></li>
        {% endfor %}
    </ul>
</li>
<li><a href="/updates">Updates</a></li>
<li><a href="/contact">Contact</a></li>
{% endblock %}